<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HousePriceAI</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class = "left-half">
        <div class = "Title">
            <h1>HousePriceAI</h1>
            <h2>Miami, Florida</h2>
        </div>
        <div class="map-container">
            {%include 'maps.html'%}
        </div>
    </div>
    <div class="data-container">
        {%include 'containers.html'%}
    </div>
</body>


</html>
